body {
  font-family: 'Pretendard', sans-serif;
  background: #f9f9fb;
  margin: 0;
}

h2 {
  margin: 10px;
  
}

.person-game {
  display: flex;
  flex-direction: row;
}

button {
  margin: 10px;
  padding: 10px 16px;
  font-size: 15px;
}

.person-game-content{
  flex: 1;
  max-width: 1000px;
}

input{
  margin: 10px;
  padding: 10px 16px;
  font-size: 15px;
  text-align: center;
}

.controler {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 600px;
}

.quiz-count {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50%;
  align-items: center;
  padding: 20px 20px;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 20px;
}


.quiz-count-text {
  display: flex;
}

.quiz-count-input {
  display: flex;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

.joystick {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px 20px;
}

.btn-prev-next {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-gamestart, .btn-prev, .btn-next {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 15px 0;
}

.btn-prev {
  width: 45%;
}

.btn-next {
  width: 45%;
}

#all-sets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  padding: 0;
  margin-top: 5px;
}

#all-sets li {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: 0.2s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

#all-sets li:hover {
  background: #f0f4ff;
  cursor: pointer;
  border-color: #739ae9;
}

.all-set-list-header {
  display: inline-block; /* 또는 block */
  margin: 30px 10px 15px 10px;
}

#all-sets li.selected {
  font-weight: bold;
  color: #679aff;
  border: 1px solid #739ae9;
  background: #eef3ff;
}

#selected-sets {
  margin-bottom: 20px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
}

#selected-sets li {
  padding: 4px 15px;
  border-radius: 4px;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


