.dashboard {
  display: flex;
}

.table-table {
  table-layout: fixed;
  /* border-collapse: separate; 행 분리 */
  /* border-spacing: 0 5px; 분리된 행 사이 간격 / 두개는 세트옵션 */
  width: max-content;
}

.table-wrapper {
  flex-grow: 1;
  overflow-x: hidden; /* ← 페이지에 스크롤 안 생기게 */
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.table-table th {
  font-size: 13px;
  white-space: nowrap;
}

tr {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  transition: background 0.2s;   
}

td {
  font-size: 14px;
  height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  height: 45px;
  overflow: hidden;
  align-content: center;
  background-color: #f1f3f7 !important; /* 테이블헤더 배경색상 */
  color: #666 !important; /* 테이블헤더 텍스트색상 */
}

/* 짝수행 배경색상 */
.table-striped-custom > tbody > tr:nth-child(even) td {
  background-color: #fafafa;
}

/* 홀수행 배경색상 */
.table-striped-custom > tbody > tr:nth-child(odd) td {
  background-color: #ffffff;
}

th:nth-child(1),
td:nth-child(1) {
  width: 100px;
  text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
  width: 80px;
  text-align: center;
}

th:nth-child(3),
td:nth-child(3) {
  width: 60px;
  text-align: center;
}

th:nth-child(4),
td:nth-child(4) {
  width: 120px;
  text-align: center;
}

th:nth-child(5),
td:nth-child(5) {
  width: 60px;
  text-align: center;
}

th:nth-child(6),
td:nth-child(6) {
  width: 250px;
  text-align: center;
}

th:nth-child(7),
td:nth-child(7) {
  width: 100px;
  text-align: center;
}

th:nth-child(8),
td:nth-child(8) {
  width: 250px;
  text-align: center;
}

th:nth-child(9),
td:nth-child(9) {
  width: 100px;
  text-align: center;
}

th:nth-child(10),
td:nth-child(10) {
  width: 60px;
  text-align: center;
}

th:nth-child(11),
td:nth-child(11) {
  width: 100px;
  text-align: center;
}

th:nth-child(12),
td:nth-child(12) {
  width: 60px;
  text-align: center;
}

th:nth-child(13),
td:nth-child(13) {
  width: 300px;
  text-align: center;
}

#search-name, #filter-gender, #filter-date {
  border: 1px solid #dcdfe6;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.memo-input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  width: 100%;
  text-align: center; /* 필요에 따라 left/right 조정 */
}

.form-check-input.memo-checkbox {
  width: 18px;
  height: 18px;
}

.form-check-input.memo-checkbox:checked {
  background-color: #6366f1;      /* 체크된 배경색 */
  border-color: #6366f1;          /* 체크된 테두리색 */
}
